@import url('https://fonts.googleapis.com/css?family=Slabo+27px')

html, body
  width: 100%
  height: 100%
  margin: 0
  font-family: 'Slabo 27px', serif

#page
  display: grid
  width: 100%
  height: 100%
  grid-template-rows: 100px 1fr 50px
  grid-template-columns: 1fr
  grid-template-areas: "head head" "main main" "footer footer"

header, nav, main, footer

#page > header
  grid-area: head

#page > footer
  grid-area: foot

#page > main
  grid-area: main
