div#template
    div#title
        h1 {{$ctrl.main.appName}}
    div#links
        nav
            a(ng-repeat='link in $ctrl.links' ng-link="[\'{{link.pathName}}\']")
                div.link {{link.pathName}}
