route-place
  nav
    display: inline-flex
  #template
    display: grid
    grid-template-columns: 30% 70%
    background-color: #cd97a9
    align-content: center

  #title
    grid-column: 1
    grid-row: 1
    background-color: #84606e

  #links
    grid-column: 2 / 3
    grid-row: 1
    position: relative

  ul
    list-style-type: none
    li
      padding-right: 50px

  a
    font-size: 18pt
    text-decoration: none
    padding: 30px
    &:active
      background-color: #ffc5da
